.about-content{
    padding:20px;
    font-family: Helvetica,sans-serif;
    text-align: justify;
    font-size: 16px;
    color: #a0a0a0;
    line-height:1.4;
    text-decoration: none;
}
.about-para{
    font-size: 16px;
}