<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="color: #ED9121;">Welcome, User.</ion-list-header>

          
        </ion-list>

        <ion-list>
          
          <ion-menu-toggle autoHide="false"> 
            <ion-item routerLink="/about">
              <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>About Us</ion-label>
            </ion-item>
          </ion-menu-toggle>
         <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/blog">
            <ion-icon name="bookmarks" slot="start"></ion-icon>  
          <ion-label>Blog</ion-label>
          </ion-item>
         </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/contact">
              <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Contact Us</ion-label>
            </ion-item>
          </ion-menu-toggle>
         <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/econtact">
            <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Emergency Contacts</ion-label>
          </ion-item>
         </ion-menu-toggle>
         <br>
        
         
        
        </ion-list>
        <ion-fab vertical="bottom" horizontal="start">
          <ion-fab-button color="secondary">
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button>
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="logo-youtube"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          </ion-fab>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
