<ion-header>
  <ion-toolbar>
    <ion-title style="color: #ff0075; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <img style="height: 20px; width: 20px;" src="assets/logo.png">TRAVOSPIRIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center; font-size:20px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600; color: #fbb124;">EMERGENCY CONTACTS ACCORDING TO PLACES</h2>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Andaman
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Maharashtra
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Kerala
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Kashmir
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Kullu Manali
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Shimla
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Gangtok/Sikkim
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Rajasthan
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title routerLink="/enumber">

        Chandigarh
        <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon>

      </ion-card-title>
    </ion-card-content>
  </ion-card>
  
</ion-content>
