<ion-header>
  <ion-toolbar>
    <ion-title style="color: #ff0075; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <img style="height: 20px; width: 20px;" src="assets/logo.png">TRAVOSPIRIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600; color: #fbb124;">ITINERARY-KERALA</h2>
  <img src="assets/kerala.jpg">
  <ion-card>
    <ion-card-content>
      <ion-card-title style="font-size: 22px; font-weight: 600;">
        Day 1
      </ion-card-title>
      <br>
      <ion-card-title>
        Bangalore - Coorg
      </ion-card-title>
      <ion-card-subtitle>
        Arrive Bangalore Station / Airport and reach Hotel Hotel Regenta Inn -
         Bengaluru by 12:00 Noon (at your own cost). we shall have Lunch here and
          & Proceed to Coorg (6 hrs 2000 ft - 3500 ft). Coorg is a region known for
           its coffee plantations and salubrious climate all through the year. reach
            in the evening Dinner. Night halt at Coorg.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title style="font-size: 22px; font-weight: 600;">
        Day 2
      </ion-card-title>
      <br>
      <ion-card-title>
        Bangalore - Coorg
      </ion-card-title>
      <ion-card-subtitle>
        Arrive Bangalore Station / Airport and reach Hotel Hotel Regenta Inn -
         Bengaluru by 12:00 Noon (at your own cost). we shall have Lunch here and
          & Proceed to Coorg (6 hrs 2000 ft - 3500 ft). Coorg is a region known for
           its coffee plantations and salubrious climate all through the year. reach
            in the evening Dinner. Night halt at Coorg.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title style="font-size: 22px; font-weight: 600;">
        Day 3
      </ion-card-title>
      <br>
      <ion-card-title>
        Bangalore - Coorg
      </ion-card-title>
      <ion-card-subtitle>
        Arrive Bangalore Station / Airport and reach Hotel Hotel Regenta Inn -
         Bengaluru by 12:00 Noon (at your own cost). we shall have Lunch here and
          & Proceed to Coorg (6 hrs 2000 ft - 3500 ft). Coorg is a region known for
           its coffee plantations and salubrious climate all through the year. reach
            in the evening Dinner. Night halt at Coorg.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title style="font-size: 22px; font-weight: 600;">
        Day 4
      </ion-card-title>
      <br>
      <ion-card-title>
        Bangalore - Coorg
      </ion-card-title>
      <ion-card-subtitle>
        Arrive Bangalore Station / Airport and reach Hotel Hotel Regenta Inn -
         Bengaluru by 12:00 Noon (at your own cost). we shall have Lunch here and
          & Proceed to Coorg (6 hrs 2000 ft - 3500 ft). Coorg is a region known for
           its coffee plantations and salubrious climate all through the year. reach
            in the evening Dinner. Night halt at Coorg.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
