<ion-header>
  <ion-toolbar>
    <ion-title style="color: #ff0075; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <img style="height: 20px; width: 20px;" src="assets/logo.png">TRAVOSPIRIT
    </ion-title>   </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600; color: #fbb124;">BLOGS TO READ</h2>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <img src="assets/blog.jpg">

      </ion-card-header>
      <ion-card-title>
        Picture perfect campsites
      </ion-card-title>
      <ion-card-subtitle>
       <b> 26 July, 2018</b>
      </ion-card-subtitle>
      <p>One of the most amazing and picturesque hiking destination in the world, Everest Base Camp Trek in Nepal, serves you with aesthetic views of nature drawn by Mother Earth. Trekkers travel on the same path where the great Edmund Hillary and Tenzing Norgay walked.</p>
       <p class="blog-more">READ MORE</p>
     
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <img src="assets/economy.jpg">

      </ion-card-header>
      <ion-card-title>
        Picture perfect campsites
      </ion-card-title>
      <ion-card-subtitle>
       <b> 26 July, 2018</b>
      </ion-card-subtitle>
      <p>One of the most amazing and picturesque hiking destination in the world, Everest Base Camp Trek in Nepal, serves you with aesthetic views of nature drawn by Mother Earth. Trekkers travel on the same path where the great Edmund Hillary and Tenzing Norgay walked.</p>
       <p class="blog-more">READ MORE</p>
     
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <img src="assets/popular_2.jpg">

      </ion-card-header>
      <ion-card-title>
        Picture perfect campsites
      </ion-card-title>
      <ion-card-subtitle>
       <b> 26 July, 2018</b>
      </ion-card-subtitle>
      <p>One of the most amazing and picturesque hiking destination in the world, Everest Base Camp Trek in Nepal, serves you with aesthetic views of nature drawn by Mother Earth. Trekkers travel on the same path where the great Edmund Hillary and Tenzing Norgay walked.</p>
       <p class="blog-more">READ MORE</p>
     
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <img src="assets/popular_1.jpg">

      </ion-card-header>
      <ion-card-title>
        Picture perfect campsites
      </ion-card-title>
      <ion-card-subtitle>
       <b> 26 July, 2018</b>
      </ion-card-subtitle>
      <p>One of the most amazing and picturesque hiking destination in the world, Everest Base Camp Trek in Nepal, serves you with aesthetic views of nature drawn by Mother Earth. Trekkers travel on the same path where the great Edmund Hillary and Tenzing Norgay walked.</p>
       <p class="blog-more">READ MORE</p>
     
    </ion-card-content>

  </ion-card>
</ion-content>
