<ion-header>
  <ion-toolbar>
    <ion-title style="color: #ff0075; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <img style="height: 20px; width: 20px;" src="assets/logo.png">TRAVOSPIRIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/blog.jpg">
 
   
    <ion-row>
      <ion-col>
    <h1 style="color: white; font-weight: 600; font-size: 25px;">Kerala</h1>
  </ion-col>
  <ion-col>
    <ion-badge color="danger" style="float: right;">4 NIGHTS & 5 DAYS</ion-badge><br>
    <ion-badge color="success" style="float: right;">₹50,000/couple</ion-badge>
  </ion-col>
  </ion-row>
  <h3 style="color: white; font-weight: 400; font-size: 20px; padding: 10px;">Places to visit:</h3>
  <ion-item-divider>
        <p>Vythiri (Wayanad)
         
          </p>
</ion-item-divider>
<ion-item-divider>
 
   <p class="about-para"> Coorg</p>

  
</ion-item-divider>
<ion-item-divider>
 
   <p class="about-para">Bandipur</p>
   
</ion-item-divider>
<br>
    <div class="center-button">
  <ion-button href="/highlight">
    VIEW HIGHLIGHT
  </ion-button>
 
  <ion-button href="/itinerary">
    VIEW ITINERARY
  </ion-button>

  <ion-button href="/dates">
   VIEW DATES
 </ion-button>
</div>
</ion-content>
